@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background-color: #f7f7f7 !important;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
  height: 100vh;
}

/* Login Register */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Home */
.card-img-top {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.home-card {
  text-align: center;
}

/* Navbar */
.nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
  object-fit: cover;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
